<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/cs130/statemachine/StateMachine"
			class = "org.xtext.cs130.statemachine.stateMachine.StateMachinePackage"
			genModel = "model/generated/StateMachine.genmodel" />
	</extension>
</plugin>
